.gallery__card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    border-radius: 1rem;
    border: #15881f solid 2px;
    margin: 0.5rem;
    background: #ffffff;
}